/* Style global de l'application */
.stApp {
    background-color: #001f3f; /* Bleu marine */
    font-family: sans-serif; /* Choisir une police de caractères appropriée */
}

/* Style général pour tout le texte sauf le menu */
div, p, h1, h2, h3, h4, h5, h6 {
    color: #FFA500; /* Orange */
}

/* Style spécifique pour la sidebar */
.stSidebar {
    background-color: #87CEEB !important; /* SkyBlue */
}

/* Style spécifique pour le texte dans la sidebar */
.stSidebar p, .stSidebar h1, .stSidebar h2, .stSidebar h3, .stSidebar h4, .stSidebar h5, .stSidebar h6 {
    color: #000000 !important; /* Noir pour la sidebar */
}

/* Style pour les éléments du menu dans la sidebar */
.stSidebar .st-c4 .st-bo, 
.stSidebar .st-c4 .st-b0,
.stSidebar label {
    color: #000000 !important; /* Noir pour les éléments du menu */
}

/* Style de la boîte de sélection dans la sidebar */
.st-c4 .st-bo {
    color: #000000 !important; /* Noir */
}

/* Style du label de la boîte de sélection dans la sidebar */
.st-c4 .st-b0 {
    color: #000000 !important; /* Noir */
}

/* Style des boutons */
.stButton>button {
    background-color: #333333; /* Gris anthracite */
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 100%; /* Largeur pleine largeur pour les petits écrans */
    box-sizing: border-box; /* Inclure le padding dans la largeur */
    margin-bottom: 10px; /* Espacement entre les boutons */

}

/* Style des boutons lors du survol */
.stButton>button:hover {
    background-color: #555555; /* Gris plus clair au hover */
}

/* Style de l'image du logo */
.stImage img {
    max-width: 50%; /* Largeur maximale de l'image, s'adapte à l'écran */
    height: auto; /* Hauteur automatique pour maintenir les proportions */
    margin: 10px auto; /* Centrer l'image */
    display: block; /* Assurer que l'image est un bloc et occupe toute la largeur disponible*/
}

/* Style pour les champs de texte */
.stTextInput>input {
    border-radius: 8px;
    padding: 8px;
    font-size: 16px;
    width: 100%; /* Largeur pleine largeur pour les petits écrans */
    box-sizing: border-box; /* Inclure le padding dans la largeur */
    margin-bottom: 10px; /* Espacement entre les champs de texte */
}


/* Style pour les notifications de succès */
.stAlert-success {
    background-color: #28a745;
    color: white;
    border-radius: 8px;
    padding: 10px;
    margin-top: 10px;
}

/* Style pour les notifications d'erreur */
.stAlert-error {
    background-color: #dc3545;
    color: white;
    border-radius: 8px;
    padding: 10px;
    margin-top: 10px;
}

/* Style des checkboxes pour la page de présence journalière */
.stCheckbox>div {
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 5px;
}


/* Media Queries pour l'adaptation responsive */
@media (max-width: 768px) { /* Tablettes et smartphones */
    .stSidebar {
        width: 100%; /* Sidebar pleine largeur */
    }
    .stColumn { /* Style les colonnes */
        flex-direction: column; /* Empiler les éléments verticalement */
    }
    .stButton>button {
        width: 100%; /* Boutons sur toute la largeur */
        font-size: 14px; /* police plus petite sur mobile */
    }
    .stTextInput>input {
        font-size: 14px; /* police plus petite sur mobile */
    }
    .stImage img {
        width: 80%; /* réduire la largeur de l'image sur mobile */
        margin: 5px auto;
    }
}